@import "tailwindcss";

* {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
}

.video {
  border-radius: 45px;
  box-shadow: 2px 2px 2px 2px orange;

}

.img5 {
  border-radius: 15px;
}

.btn {
  background-color: orange;
  padding: 15px;
  border-radius: 20px;
  border: white;
  color: black;
}