@keyframes slide-up {
  0%{
    opacity:0;
    transform: translateY(100px);
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}


.slide-up-animation{
  animation-name: slide-up;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  
}


@keyframes updown {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100% {
    transform:translateY(0px);
  }
}


.updown-animation{
  animation-name: updown;
  animation-delay: 1.7s;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  display: inline-block;
}



